@import url('https://fonts.googleapis.com/css?family=Lato');

html {
	scroll-behavior: smooth;
}

body {
	min-height: 80vh;
	margin-top: 5%;
	margin-bottom: 5%;
	background: linear-gradient(to right, #F4E8C1, #709FB0);
	background-size: auto;
	font-family: "Lato";
	font-size: 18px;
	color: #726A95;
}

header * {
	font-weight: bold;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

nav a {
	color: #351F39;
	padding: 0.5em 2em;
	text-align: center;
	border-radius: 50px;
	background-color:#726A95;
	box-shadow: 0 10px 6px -6px #777;
	text-decoration: none;
}

nav a:hover, nav a:active {
	color:#726A95;
	background-color: #F4E8C1;
}

a {
	font-weight: bold;
	color: #726A95;
	margin: 0 0 1em 0;
	text-decoration: underline #709FB0 dotted;
}

a:hover {
	color: #709FB0;
	text-decoration: underline #351F39 dotted;
}

h1 {
	text-transform: uppercase;
}

.h1, .h2, .hr {
	color: #351F39;
}

#courses>.col-md-6, #courses>.col-md-12 {
	padding: 0;
}

.clouds {
	position: fixed;
	z-index: -1;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 250px;
	background: url("clouds.png") bottom repeat-x;
	background-size: auto 250px;
}

@media screen and (max-width: 600px) {
	body {
		font-size: 16px;
		background: linear-gradient(to bottom right, #F4E8C1, #709FB0);
	}

	.balloon {
		display: none;
	}
}

@media (min-width: 1200px) {
	.balloon {
		position: absolute;
		width: 150px;
		height: 150px;
		background-image: url("balloon.png");
		background-size: contain;
		left: 25px;
		bottom: 0px;
		animation: balloon 30s linear 1s infinite alternate;
	}
}

@keyframes balloon {
	0% {left: 25px; bottom: 0px;}
	25% {left: 0px; bottom: 200px;}
	50% {left: 20px; bottom: 400px;}
	75% {left: 10px; bottom: 600px;}
	100% {left: 40px; bottom: 800px;}
}

